.card {
  position: relative;
  width: 268px;

  // border-radius: 20px;
  // background-color: #fff;
}

.card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card__photo {
  height: 240px;
  background-color: var(--product-photo-bg);
  // background-color: rgba(150, 115, 115, 0.512);
  border-radius: 20px 20px 0 0;
}

.card__img {
  margin-top: -50px;
}

.card__desc {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  // align-items: start;
  gap: 6px;

  text-align: left;
  height: 202px;
  padding: 14px 22px 28px;
  // background-color: #e6d7d7;
  background-color: #fff;
  border-radius: 0 0 20px 20px;

  font-family: var(--font-card);
  color: var(--text-card);
}

.card__category {
  position: relative;
  z-index: 3;

  color: var(--text-muted);
  font-size: 16.755px;
}

.card__title {
  font-size: 21.325px;
  font-weight: 600;
  text-transform: capitalize;
}

.card__rating {
  display: flex;
  gap: 3px;
  // width: 18.279px;
  height: 18.279px;
  flex-shrink: 0;
}

.card__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  display: flex;
  align-items: flex-start;
  gap: 3px;

  font-size: 21.325px;
  font-weight: 600;

  &::before {
    content: attr(data-value);
    font-size: 15.232px;
    font-weight: 600;
  }
}

.card__btn {
  position: relative;
  z-index: 3;

  width: 49px;
  height: 49px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--ui-dark-blue);
  border-radius: 50%;

  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 0.8;
  }
}
