.search-form {
  //   margin: 0 auto;
  display: flex;
  width: 344px;
  padding: 8px 8px 8px 20px;
  justify-content: space-between;
  align-items: center;

  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
}

.search-form__input {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */

  &::placeholder {
    color: var(--header-text-color);
    opacity: 0.7;
    font-weight: 400;
  }
}

.serch-form__btn {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background: var(--accent);
}
